@model GoodNews.BL.ViewModels.ArticleViewModel
<h1>Comments</h1>

<div class="card-body col-10">
    @if (Model.Comments.Any())
    {
        @foreach (var comment in Model.Comments)
        {
            <small><strong>@Html.DisplayFor(modelItem => comment.User.UserName)</strong> @comment.Date</small>

            <p>@comment.Content</p>
        }
    }
    else
    {
        <p>There is no comments yet</p>
    }

</div>