@model GoodNews.BL.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="container">
    <div class="p-2">
        <h1>@Model.Article.Title</h1>
        <div class="article-content">@Html.Raw(Model.Article.Content)</div>
        <div><a href="@Model.Article.Url">источник</a></div>
    </div>

    <div class="container">
        <button id="toggle-comment-input" class="btn btn-primary m-3">Add a comment</button>
        <div id="comment-input" style="display: none">
            <form asp-action="AddComment" class="col" method="post">
                <input type="hidden" id="articleId" name="articleId" value="@Model.Article.Id" />
                <textarea name="content" class="form-control" id="comment-content" rows="3" minlength=10></textarea>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Send</button>
                </div>
            </form>
            <button id="btn-send-async" class="btn btn-primary btn-sm mt-2 ml-3">SendAjax</button>
        </div>
        
        <div id="commentContainer" class="container">
            @await Html.PartialAsync("/Views/Comment/_GetComments.cshtml", @Model)
        </div>
        
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#toggle-comment-input').click(toggleCommentInput);
            $('#btn-send-async').click(addComment);
        });


        const toggleCommentInput = () => {
            $('#comment-input').slideToggle();
        };

        const addComment = () => {
            const comment = {
                ArticleId: $('#articleId').val(),
                Content: $('#comment-content').val()
            }
            $.post({
                type: "POST",
                url: "/Comment/AddComment",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(comment),
                dataType: "text",
                success: function (result) {
                    $('#comment-content').val('');
                    getComments();
                }
            });

            function errorFunc(errorData) {
                console.log('Error' + errorData.responseText);
            }

            function getComments() {
                $.ajax({
                    url: '/Comment/_GetComments/' + "?id=" + $('#articleId').val(),
                    type: "GET",
                    success: function (data) {
                        $('#commentContainer').html(data);
                    },
                    error: errorFunc
                });
            };
        };
    </script>
}




