@model IEnumerable<GoodNews.Data.Entities.Article>

@{
    ViewData["Title"] = "Index";
}
<div class="album py-5 bg-light">
    <div class="container">
        @foreach (var article in Model)
        {
            <div class="card mb-4 p-3 shadow-sm">
                <h4>@Html.DisplayFor(modelItem => article.Title)</h4>
                <div>@Html.DisplayFor(modelItem => article.Description)</div>
                <div>@Html.DisplayFor(modelItem => article.DateOfPublication)</div>
                @*<div>@Html.DisplayFor(modelItem => article.Source.Name)</div>*@
            </div>
        }
    </div>
</div>
