@model IEnumerable<GoodNews.Data.Entities.Article>

<div class="container">
    <h2>News</h2>
    @foreach (var article in Model)
    {
        <div class="card mb-4 p-3 shadow-sm">
            <h5 class="card-title">@Html.DisplayFor(modelItem => article.Title)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => article.Description)</p>
            <p>@Html.DisplayFor(modelItem => article.DatePublication)</p>
            @*<div>@Html.DisplayFor(modelItem => article.Source.Name)</div>*@
        </div>
    }
</div>