.wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 60px;

  .left {
    .menuButton {
      margin-right: 10px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.logo {
  position: absolute;
  overflow: visible;
  height: 60px;
}
